main{
    padding-top: 250px;
    text-align: center;
}

.search-field{
    height: 50px;
    width: 275px;
    background-color: #fbfbfb;
    border: 7px solid #7dbaf3;
    border-radius: 30px;
    color: rgb(7, 55, 93);
    padding: 0 20px;
    font-size: 100%;
    outline: none;
}

#input_img { 
    position: fixed;
    height:40px; 
    top: 120px;
}

body {
    background-image: url(images/town.png);
    background-size:cover;
    vertical-align: middle;
   }

h1{
    font-weight: bold;
    font-size: 32px;
    padding-bottom: 30px;
    color: white;
    font-family: 'Comic Sans MS', cursive;
}

h2{
    padding-top: 10px;
    color: white;
    font-weight: normal;
    font-family: 'Sergoe Script', cursive;;
}

footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: white;
}
